<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SS16-Prog2_05_Aufwand_Suchalgorithmen/src/IntArrayinDatei.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="IntArrayinDatei"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SS16-Prog2_05_Aufwand_Suchalgorithmen"/>
</launchConfiguration>
