<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WS16_AlgorithmenDatenstrukturen/Pr_04/Pr_04_package/Main04.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Pr_04_package.Main04"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WS16_AlgorithmenDatenstrukturen"/>
</launchConfiguration>
