/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.maintext .content {
	-fx-background-color: #c7b299;
}

.maintext .scroll-bar:vertical .track{
	-fx-background-color: #c7b299;
	-fx-border-color: #c7b299;
	-fx-background-radius: 0.0;
	-fx-border-radius: 0.0;
}

.maintext .scroll-bar:vertical .increment-button ,
.maintext .scroll-bar:vertical .decrement-button {
	-fx-background-color:#c7b299;
	-fx-background-radius: 0.0em;
	-fx-padding:0.0 0.0 0.0 0.0;
}

.maintext .scroll-bar .increment-arrow,
.maintext .scroll-bar .decrement-arrow{
	-fx-shape: " ";
	-fx-padding: 0.0;
}


.maintext .scroll-bar:vertical .thumb {
	-fx-background-color: #998675;
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 0.0em;
}

.maintext {
	-fx-padding: 0.0 0.0 100.0 0.0;
	-fx-text-fill: #362f2d;
	-fx-background-color: #c7b299;
}

.button {
	-fx-background-color: #c7b299;
	-fx-font-style: oblique ;
}